<!DOCTYPE html>
<html>
	<head>
		<title>Post Count Progress Bar</title>
		<!-- CSS -->
		<link rel="stylesheet" href="style.css">
		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/npm/vue@2.5.11"></script> <!-- Vue.js v2.5.11 -->
		<script src="bundle.min.js"></script> <!-- Post Count Progress Bar -->
		<script src="script.js"></script> <!-- Website JS -->
	</head>
	<body>
		<canvas id="canvas" height="20"></canvas>
		<div id="app">
			<div v-show="page == 1" class="page">
				<h1>Post Count Progress Bar</h1>
				<input type="number" min=0 required id="done" placeholder="Done"><br/><br/>
				<input type="number" min=0 required id="goal" placeholder="Goal"><br/><br/>
				<input type="text" id="unit" placeholder="Unit" value="posts"><br/><br/>
			</div>
			<div v-show="page == 2" class="page">
				<h1>What theme?</h1>
				<select id="theme">
					<option value="default">Default (Black background)</option>
					<option value="white">White</option>
				</select>
			</div>
			<div v-show="page == 3" class="page">
				<h1>What style?</h1>
				<select id="generator">
					<option value="CanvasBig">Big</option>
					<option value="CanvasSmall">Medium</option>
					<option value="CanvasBackgroundPosts">Small (Posts)</option>
					<option value="CanvasBackgroundPercent">Small (Percent)</option>
				</select>
			</div>
			<div v-show="page == 4" class="page">
				<h1>Post Count Progress Bar</h1>
				You can see a preview of your progress bar above! Or you can download it below!<br/>
				<a v-bind:href="downloadLink" download="ProgressBar.png">Download your Progress Bar</a>
			</div>
			
			<!-- Buttons -->
			<button v-if="page != 4" v-on:click="generate" style="width: 100%">Preview</button>
			<div v-if="page == 1">
				<button v-on:click="next" style="width: 100%">Next</button>
			</div>
			<div v-else-if="page == 2">
				<button v-on:click="back" style="width: 49.5%">Back</button>
				<button v-on:click="next" style="width: 49.5%">Next</button>
			</div>
			<div v-else-if="page == 3">
				<button v-on:click="back" style="width: 49.5%">Back</button>
				<button v-on:click="next" style="width: 49.5%">Next</button>
			</div>
			<div v-else-if="page == 4">
				<button v-on:click="restart" style="width: 100%">Start Again</button>
			</div>
		</div>
	</body>
</html>